Package: weeb.lillie.androidls
Name: Android LS
Architecture: iphoneos-arm
Description: Android Lockscreen on iOS
Maintainer: Lillie
Author: Lillie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0), com.spark.libsparkcolourpicker, preferenceloader, cy+model.iphone | cy+model.ipod
Conflicts: moe.absolucy.lucient, moe.absolucy.lucient.trial
Version: 1.0.0-231+debug
Installed-Size: 424
