Package: weeb.lillie.enhancerforyoutubepremium
Name: Enhancer for YouTube Premium
Version: 1.0.7
Architecture: iphoneos-arm
Description: Add More Features To YouTube Premium
Maintainer: Lillie
Author: Lillie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0), preferenceloader, com.spark.libsparkcolourpicker
Conflicts: net.sarahh12099.youtubereborn, h.ryan.youtubreborn, com.yourepo.ikghd.youtubekiller, com.yourepo.ikghd.youtubekillers, prasa.youtubeplus, weeb.lillie.youtubepremiumplus
Replaces: weeb.lillie.youtubepremiumplus
Depiction: https://repo.lillieweeb001.xyz/depictions/enhancerforyoutubepremium.html
SileoDepiction: https://repo.lillieweeb001.xyz/sileodepictions/weeb.lillie.enhancerforyoutubepremium/depiction.json
